
.circles {
  margin-bottom: -10px;
}

.circle {
  width: 150px;
  margin: 6px 6px 20px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  line-height: 1.2;
  canvas {
    vertical-align: top;
    transform: rotate(90deg);
  }
  strong {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 1.8em;
    i {
      font-style: normal;
      font-size: 0.6em;
      font-weight: normal;
    }
  }
  span {
    display: block;
    color: #aaa;
    margin-top: 12px;
  }
}