$brd: #663399;
$bg: #f3f3f3;
.form{
  $c: &;

  max-width: 375px;
  background: white;
  box-shadow: 0px 7px 20px rgba(0,0,0,.26);
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;


  input{
    width: 100%;
    border: 2px solid rgba(0,0,0,.2);
    outline: none;
    min-height: 50px;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
  }

  &__title{
    text-align: center;
    width: 100%;
    margin: 10px auto;

    &--text{
      font-size: 20px;
      text-transform: uppercase;

    }
  }
  &__block{
    margin: 15px auto;
    width: 100%;

    &--error{

    }
  }

  &__input{
    transition: .2s all ease;
    background: $bg;
    border-radius: 200px;

    background: rgba(255,255,255,.8);
    &:hover{
      border: 2px solid rgba(102, 51, 153, 0.4);

      box-shadow: 0px 3px 10px rgba(0,0,0,.26);
      background: rgba(255,255,255,1);
    }
    &:focus{
      border: 2px solid rgba(102, 51, 153, 0.6);
      background: rgba(255,255,255,1);
      box-shadow: 0px 7px 20px rgba(0,0,0,.26);
    }

  }

  &__label{
    font-size: 12px;
    padding-left: 22px;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 7px;
  }

  &__btn{
    padding: 12px;
    text-transform: uppercase;
    border-radius: 100px;
  }


  &--inline{

    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;

    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    #{$c}__block{
      flex-grow: 1;
      width: auto;
      max-width: 320px;
      padding: 0 5px;

    }
    #{$c}__btn{
      margin: auto
    }
  }

  &--nostyle{
    background: rgba(0,0,0,0);
    box-shadow: 0px 7px 20px rgba(0,0,0,0);
  }

}



