// Btn - theme params
$btn-font: $default-font;
$btn-bg: #663399;
$btn-color: white;
$btn-border-radius: 0 ;
$btn-line-height: 1.5;
$btn-padding: .8rem 2rem;
$btn-color: white;
$btn-border: 1px solid rgba(0,0,0,0);
$btn-transition: .3s all ease;
$btn-max-width: 320px;
$btn-shadow: 0px 7px 20px rgba(0,0,0,.26);
$btn-text-transform: uppercase;

@import "../../_mixins/button";
@import "animate";
@import "color";
@import "size";

$buttons:(
  default: $btn-default,
  round: $btn-round,
  play: $btn-play,
  border: $btn-bordered,
  nav: $btn-nav,
);

.btn{
  //@include reset-btn();
  @include colored($buttons);

  @include state($btn-shadows);
}

$buttonWidth: 30px;
$buttonHeight: 26px;
$buttonColor: darken(#2B32B2, 15%);
$lineThickness: 4px;
$transitionSpeed: .25s;
$transitionEasing: ease-in-out;

// Demo
.menu-toggle {
  position: relative;
  display: block;
  width: $buttonWidth;
  height: $buttonHeight;

  background: transparent;
  border-top: $lineThickness solid;
  border-bottom: $lineThickness solid;

  color: $buttonColor;
  font-size: 0;

  transition: all $transitionSpeed $transitionEasing;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: $lineThickness;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform $transitionSpeed $transitionEasing;
  }
}

button:hover {
  color: lighten($buttonColor, 15%);
}

button.is-active {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}