/*  Btn - template
$btn- : (
        default: (
        ),
        hover:(
        ),
        active:(
        ),
        focus:(
        ),
        disabled:(
        )
);
*/

/* Btn - shadow*/
$btn-shadows: (
        default: (
                box-shadow: 0px 7px 20px rgba(0,0,0,.36),
        ),
        hover:(
                box-shadow: 0px 10px 20px rgba(0,0,0,.46),
        ),
        active:(
                box-shadow: 0px 2px 20px rgba(0,0,0,.2),
        ),
        focus:(

                box-shadow: 0px 3px 20px rgba(0,0,0,.2),
        ),
        disabled:(
                box-shadow: 0px 7px 20px rgba(0,0,0,0)
        )
);

/* Btn Colors array*/
$btn-default: (
        default: (
                background: $btn-bg,
                color: $btn-color,
                margin: 10px auto
        ),
        hover:(
                background: lighten($btn-bg, 10%),
                color: white,
        ),
        active:(
                color: white,
                background: darken($btn-bg, 10%),
        ),
        focus:(
                color: white,
                background: darken($btn-bg, 10%),
        ),
        disabled:(
                background: lighten($btn-bg, 30%),
        )
);
$btn-dark: (
        default: (
                background: #000,
                color: white
        ),
        hover:(
                background: orange,
        ),
        active:(
                background: #666,
        ),
        disabled:(
                background: #333 !important,
        ),
);

/* Btn another*/
$btn-round: (
        default:(
                border-radius: 10em
        ),
);
$btn-play: (
        default: (
                background: rgba(0,0,0,.5),
                color: white !important,
                width: 90px,
                height: 90px,
                display: flex,
                align-items:center,
                justify-content:center,
                font-size: 30px,
                text-align: center,
                cursor: pointer,
                box-shadow: $btn-shadow,
        ),
        hover:(

                background: darken($btn-bg, 10%),
                opacity: .8,
                box-shadow: 0px 10px 20px rgba(0,0,0,.68),
        ),
        active:(
                box-shadow: 0px 2px 20px rgba(0,0,0,.2),
        ),
        focus:(

                box-shadow: 0px 3px 20px rgba(0,0,0,.2),
        ),
        disabled:(
                box-shadow: 0px 7px 20px rgba(0,0,0,0)
        )
);

$btn-bordered: (
        default: (
                background: rgba(0,0,0,0),
                border: 0,
                border-bottom: 2px solid black,
                color: black,
                margin: 20px auto,
        ),
        hover:(
                background: rgba(0,0,244,1),
                color: white,
        ),
        active:(
                background: green
        ),
        focus:(


        ),
        disabled:(
                background: purple
        )
);

$btn-nav: (
        default: (
               font-size: .9em,
               border-bottom: 2px solid rgba(0,0,0,0),
                overflow: visible,
        ),
        hover:(
                color: white,
                border-bottom: 2px solid $accent,
        ),
        active:(
        ),
        focus:(
        ),
        disabled:(
        )
);