

/* Template
  $btn-default: (
    default: (),
    hover:(),
    active:(),
    focus:(),
    disabled:()
  );

*/
.btn{

  &--block{
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  &--lg{
  }
  &--md{
    max-width: 320px;
  }
  &--sm{

  }
  &--xs{
    padding: 5px;
    //max-width: 100px;
    font-size: .8em;
  }
}