.nav{
  padding: 15px 0;
  &__logo{

  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__link{
    color: white
  }
  &__phone{
    @extend .f-bold;
    font-size: 1.5em;
    text-align: right;
    padding: 0;
    margin: 0;
    @include media-breakpoint-down(lg){
      font-size: 1.2em;
    }
  }
}