
.download{
  background: url('../img/download.jpg') no-repeat center top;
  color: white;
  text-align: center;
  line-height: 1;
  padding: 8em 0;
  @include media-breakpoint-down(sm){
    padding: 2em 0;
  }
  .form{
    padding: 0px;
  }
  &__title{
    max-width: 800px;
    margin: 0 auto;
  }
  &__text{
    max-width: 600px;
    margin: 1.5em auto;
    font-size: 18px;
    @extend .f-light;

    .colored{
      color: #a54cff
    }
  }
}