.header{
  width: 100vw;
  position: relative;
  background: url('../img/header.jpg') no-repeat center top;
  color: white;

  height: 100vh;
  padding-bottom: 5%;

  @include media-breakpoint-down(lg){
    height: auto;
    padding: 20px;
  }
  @include media-breakpoint-down(md){
    height: auto;
    padding: 20px;
  }
  overflow: hidden;


  &__container{

  }
  &__row{
    height: 100vh;

    @include media-breakpoint-down(md){
      height: auto;
      margin: 3em auto;
    }
  }

  &__content{

  }
  &__title{
    @extend .f-bold;
    font-size: 3.8em;

    @include media-breakpoint-down(lg){
      font-size: 3em;
    }
    @include media-breakpoint-down(sm){
      font-size: 2.9em;
      text-align: center
    }
    @include media-breakpoint-down(xs){
      font-size: 2.8em;
      text-align: center;
      margin: 20px auto;
    }

    line-height: 1.2;
  }
  &__text{
    @extend .f-light;
    font-size: 20px;
    max-width: 550px;
  }

  &__form{
    @include media-breakpoint-down(md){
      background: transparent;
      color: white;
      padding: 20px 0px;
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    .form__title{
      &--text{
        @extend .m-auto;
        @extend .f-bold;
        letter-spacing: 2px;
        font-weight: bold;
        color: #333;
        font-size: 22px;
        max-width: 270px;

        @include media-breakpoint-down(md){
          max-width: 100%;
          color: white;
        }
        @include media-breakpoint-down(sm){
          max-width: 100%;
          padding: 0 30px ;
          color: white;
        }
        @include media-breakpoint-down(xs){
          max-width: 100%;
          padding: 0 25px ;

          color: white;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
        }
      }
    }
    .btn{

      @extend .f-bold;
      letter-spacing: 2px;
    }
  }
}