$f: #e3e2e3;
$s: #c9c5cc;
.clients{
  padding: 0;
  padding-top: 3em;
  background: #f3f3f3;

  &__title{

  }
  &__subtitle{
    max-width: 600px;
    margin: 2em 0;
  }

  &__item{
    background: $f;
    filter: grayscale(100%);
    transition: .5s all ease;
    text-align: center;
    &:nth-child(even){
      background: $s;
    }
    &:hover{
      filter: grayscale(0%);
    }
  }
  &__block{}
  &__logo{
    text-align: center;
    img{
      margin: 0 auto
    }
  }
}