.section{
  padding: 4em 0;
  @include media-breakpoint-down(sm){
    padding: 4em 1em;
  }
}
.grey{
  background: #f3f3f3;
}


@import "nav/_nav-main";
@import "header/_header-main";
@import "about/_about-main";
@import "how-we/_how-we-main";
@import "clients/_clients-main";
@import "cooperate/_cooperate-main";
@import "dwnld/_download-main";
